<div style="padding: 15vh; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
<img src="../../assets/pic_cropped.png" style="height: 40vh;width: 30vh;"/>
<p>
    
    Hi!! I am software developer located in Bangalore. 
    I like to create desktop, web and mobile apps. 
    So if you have a requirement do not hesitate to contact me. 
</p>
<p style="padding-right:20vh;padding-left: 20vh;">
	<button mat-stroked-button>Java</button>
    <button mat-stroked-button>Angular</button>
    <button mat-stroked-button>C#</button>
    <button mat-stroked-button>.NET</button>
    <button mat-stroked-button>HTML</button>
    <button mat-stroked-button>CSS</button>
    <button mat-stroked-button>Android</button>
    <button mat-stroked-button>SQL</button>
    <button mat-stroked-button>BootStrap</button>
    <button mat-stroked-button>Firebase</button>
</p>

<span style="font-size: small;">P.S. Cormorants are water birds found in my native. They look just like crows and there's nothing special in their looks too. But when one is flying above, you just can't ignore them. Hence the name, TheLittleCormorant.</span>

<section style="padding-top: 2vh;">
          <button mat-mini-fab color="#" matTooltip="Download Single page resume" aria-label="download single page resume ">
            <mat-icon>article</mat-icon>
          </button>
          <button style="margin-left: 2vh;" mat-mini-fab color="#"  matTooltip="Download Complete resume" aria-label="download full resume">
            <mat-icon>library_books</mat-icon>
          </button>
  </section>
</div>