<div style="height:100vh">

  <!--<div class="content" fxLayout="column"  fxLayoutGap="1vh" fxFlexFill>

    <div fxFlex="50" fxLayout="row" fxLayoutGap="1vh" >
      <div fxFlex="50">
        <div class="flip-card">
          <mat-card class="aboutbox">Simple card</mat-card>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="50" class="labsbox">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="50" fxLayout="row" class="sec2" fxLayoutGap="1vh" >
      <div fxFlex="50" class="blogsbox">Yo</div>
      <div fxFlex="50" class="contactbox">Yo</div>
    </div>

  </div>-->
  <div fxLayout="column" fxFlexFill>
    <div fxFlex="10" fxLayout="row" class="header">
      <div fxFlex="70" fxLayoutAlign="start center" class="title">
        <h1>the little c<img src="../assets/logo_512.png" />rmorant</h1>
      </div>
      <div fxFlex="30" fxLayoutAlign="end center" class="menubar">
        <section>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button mat-icon-button matTooltip="Home" aria-label="Go to home">
                <mat-icon>home</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Labs" aria-label="Go to Labs">
                <mat-icon>devices_other</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Contact me" aria-label="Go to Contacts">
                <mat-icon>phone</mat-icon>
              </button>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div fxFlex="80" fxLayout="row">
      <app-content></app-content>
    </div>
    <div fxFlex="10" fxLayoutAlign="center center" class="footer">&copy;2020 - All rights reserved.</div>
  </div>
</div>