
  <div style="height: 100vh;background: rgb(160, 87, 69);">
    <div fxLayout="column" fxLayout.gt-xs="row" fxFlexFill style="border: 1px solid black;">
      <div fxFlex="30" style="border: 1px solid black; margin: 4vh;background: white;">
        
        <div class="menu">
          <a mat-flat-button routerLink=".">About</a>
          <a mat-flat-button routerLink=".">Projects</a>
          <a mat-flat-button routerLink=".">Contact</a>
        </div>
      </div>
      <div fxFlex style="border: 1px solid black;margin: 2vh;background: white;">Yo</div>
    </div>
  </div>