@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap');



/* Add application styles & imports to this file! */
body{
    margin:0;
    /* background-color: #b43309ff; */
    font-family: 'Mali', cursive;
  }
  .bounds {
    background-color:#ddd;
    height :800px;
  }
  
  
  .content {
    min-width: 300px;
    /*height: 400px;*/
  }
html, body { height: 100%; }
body { margin: 0; font-family:'Mali','Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
